/* Base */
:root {
    --gold: #DAA520 !important;
}
html { /*doesn't work on Safari*/
    position: relative;
    scroll-behavior: smooth;
}
body {
    background-color: black;
    margin: 0;
    display: block;
}
.abt-bold {
    font-weight: 600;
}
.gold {
    color: var(--gold);
}
.Contact, .Experience, .AboutMe, .name {
    font-size: 4vw; 
    font-family: 'Sail', cursive;
}
.PgOne {
    color: white;
    background-image: url('Pics/Backgrounds/HD/PNG/RH3.png');
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
    /*background-origin: padding-box
    background-clip: border-box
    */
    background-attachment: fixed;
    background-color: black;

    text-align: center;
    height: 100vh; width: 100%;
    min-height: 500px;
    display: flex; flex-direction: column;
}
.navbar div {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 15px;  /*! change with media query */
    display: inline-block;
    width: 20%;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.navbar {
    min-width: 600px;
    text-align: center;
    margin-right: 10px;
    padding-top: 20px;
}
.main {
    /*position: relative;*/
    margin: 5% auto 8% auto;

    display: flex; 
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hi {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px; /*! change with media query */
    position: absolute;
    padding-bottom: 250px;
}
.name {
    font-size: 90px; /*! change with media query */
    position: absolute;
    padding-bottom: 10px; /*50px?*/
    min-width: 600px;
}
#PgTwo {
    /*position: relative;*/
    display: flex; 
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #E5E5E5;
    height: 100%;
    margin: 0;
    padding-bottom: 50px;
}
.main2 {
    height: 250px;
    width: 100%;
}
.main2 div {
    display: inline-block;
}
.AboutMe {
    width: 100%;
    margin: 7% auto 3% auto;
    text-align: center;
    position: absolute;
}
.Flower {
    position: absolute;
    width: 400px;
    height: 400px;
    right: 0px;
    transform: rotate(180deg);
}
.ME {
    position: relative;
    margin-bottom: 100px;
}
.MeImg {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 80%;
    z-index: 1;
}
.MeImgCircle{
     display: none;
}
.MeBlurb {
    background-color: rgba(0, 0, 0, .75);
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px; /*! change with media query */
    line-height: 1.75em;
    text-align: center; 

    position: absolute;
    top: 15%;
    left: 8%;
    width: 30%;
    padding: 30px;
    z-index: 2;
}
.HiImZ {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 50px;
}
#PgThree {
    background-color: #f2f2f2;
    height: 100%;
    width: 100%;
    padding: 100px 0px 0px 0px;
}
.main3 {
    display: flex; justify-content: center;
    align-items: center;
    height: 250px;
    padding-top: 50px;
    padding-bottom: 100px;
}
.Experience { 
    z-index: 2;
    display: flex; justify-content: center;
    align-items: center;
}
.Rh1 {
    position: absolute;
    border: 1px solid var(--gold);
    box-sizing: border-box;
    transform: rotate(33deg);
    width: 225px;
    height: 225px;
    z-index: 1;
}
.Rh2 {
    position: absolute;
    border: 1px solid var(--gold);
    box-sizing: border-box;
    transform: rotate(45deg);
    width: 225px;
    height: 225px;
    z-index: 1;
}
.TransparentBox {
    font-family: 'Raleway', sans-serif;
    display: block;
    margin: 25px auto;
    width: 90%;
    max-width: 1250px;
}
.Square {
    display: block;
    width: 220px;
    transition: 0.5s;
}
.Square:hover {
    transform: scale(1.05);
}
hr.hr {
    border-top: 1px dotted var(--gold);
    width: 50%;
    margin: 15px auto;
}
.C1, .Student, .RA, .TextEx, .CSSG {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 140px;
    display: flex; 
    text-align: center;
    justify-content: center;
    align-items: center;
}
.Logo {
    width: 220px;
}
.LogoImg {
    height: 150px; width: 150px;
    margin: 35px 135px 35px 35px;
}
.LogoImgLong {
    height: 80px;
    width: 175px;
    margin: 75px 140px 65px 23px;
}
.LogoImgMed {
    height: 80px;
    width: 150px;
    margin: 70px 135px 70px 35px;
}
.P {
    margin: 10px 0;
    line-height: 1.7em;
}
.Sq1 {
    position: absolute;
    border: 1px solid var(--gold);
    box-sizing: border-box;
    width: 205px;
    height: 205px;
    z-index: 1;
}
.Sq2 {
    position: absolute;
    border: 1px dotted var(--gold);
    box-sizing: border-box;
    margin: 15px 0px 0px 15px;
    width: 205px;
    height: 205px;
    z-index: 1;
}
.TextLSm {
    display: none;
}
.TextL, .TextR {
    height: 100%; 
    width: 60%;
    margin: auto 0 auto 60px;
    text-align: center;
    line-height: 1.5em;
    font-size: 18px;
}
.TextR {
    margin: auto 60px auto 0;
}
.Position, .CompandTime {
    font-weight: 600;
    font-size: 25px;
}
.Position {
    margin: 25% auto;
    color: var(--gold);
}
.CompandTime {
    color: black;
}

#PgFour {
    background-color: #E5E5E5;
    height: 100%; width: 100%;
    margin-top: 50px;
}
.Contact {
    text-align: center;
    width: 20%;
    min-width: 140px;
    min-height: 65px;
    margin: 0 auto;
    padding: 0 0 50px 0;
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--gold);
  outline: none;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 200;

  margin: 30px 0 20px 0;
/*  resize: vertical;*/
}
textarea {
  border: 1px solid var(--gold);
  height: 150px;
  margin-top: 40px;
  position: static;
  resize: none;
}

input[type=submit] {
    transition: background-color .10s linear;
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 30px auto 70px auto;
    background: #181818; /*73ABFF*/
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 40%;
    border: none;
    border-width: 1px 1px 3px;
  cursor: pointer;

  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 200;
}
input[type="submit"]:hover {
    background: var(--gold); /*43A8E4*/
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #E5E5E5 inset !important;
}
input:-webkit-autofill {
    -webkit-text-fill-color: black !important;
}
.Form {
  /*border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;*/

  width: 500px;
  margin: 0 auto;
}

.PgOne, .main2, .ME, .main3, .Contact, .Student, .C1, .RA, .TextEx, .CSSG {
    opacity: 0;
}


@media only screen and (max-width: 1350px) {
    .HiImZ {
        font-size: 40px;
    }
}

@media only screen and (max-width: 1150px) {
    .TextLSm {
        display: block;
    }
    .TextR {
        display: none;
    }
    .Contact, .Experience, .AboutMe {
        font-size: 50px;
    }
    .SeeMore {
        font-size: 25px;
    }
    .MeBlurb {
        left: 5%;
        font-size: 16px;
    }
    .MeImg {
        width: 85%;
    }
}

@media only screen and (max-width: 995px) {
    .MeBlurb {
        font-size: 15px;
    }
    .HiImZ {
        font-size: 38px;
    }
    .TextL {
        font-size: 18px;
    }
    .Flower {
        height: 300px; width: 300px;
    }
    .AboutMe {
        margin: 10% auto 5% auto;
    }
}
@media only screen and (max-width: 995px) {
    .MeBlurb {
        top: 10%;
    }
}
@media only screen and (max-width: 850px) {
    .HiImZ {
        font-size: 33px;
    }
    .MeImg {
        width: 95%;
    }
    .MeBlurb {
        font-size: 15px;
        left: 0;
    }
    .TextL {
        font-size: 16px;
    }
}

@media only screen and (max-width: 767px) {
    .abt-bold {
        color: rgb(50,50,50);
    }
    .navbar {
        min-width: 10px;
        margin-right: 0;
    }
    .navbar div {
        width: 16%;
    }
    .name {
        width: 75%;
        min-width: 0px;
    }
    .AboutMe {
        margin: 15% auto 5% auto;
    }
    .ME {
        display: flex; 
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 0;
    }
    .MeImg {
        display: none;
    }
    .MeImgCircle {
        position: relative;
        display: block;
        margin: 0 auto;
        z-index: 1;
        width: 300px;
        border-radius: 50%;
    }
    .MeBlurb {
        position: relative;
        width: 80%;
        margin: 25px auto;
        left: auto;
        background-color: #E5E5E5;
        color: black;
        font-size: 20px;
    }
    br.br3 {
        display: block !important;
    }
    .HiImZ {
        font-size: 38px;
    }
    .main3 {
        padding-bottom: 200px;
    }
    .TransparentBox {
        width: 80%;
        padding: 0;
    }
    .TextL, .CompandTime, .C1, .Student, .RA, .TextEx, .CSSG {
        display: block; 
    }
    .TextL, .CompandTime {
        margin: 0;
        width: 100%;
    }
    .TextL {
        margin-top: 30px;
    }
    .P br {
        display: none;
    }
    .Logo {
        text-align: center;
        display: flex; 
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .Form {
        width: 400px
    }
}

@media only screen and (max-width: 515px) {
    .Flower {
        height: 200px; width: 200px;
    }
    .AboutMe {
        margin-top: 20%;
    }
    .MeBlurb {
        margin-top: 25%;
    }
    .Form {
        width: 280px;
    }
}
@media only screen and (max-width: 460px) {
    .name {
        font-size: 80px;
    }
}
@media only screen and (max-width: 410px) {
    .name {
        font-size: 70px;
    }
}
#footer {
    display: flex;
    justify-content: left;
    position: absolute;
    left: 0;
    bottom: -400px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
.GoldBox {
    background-color: var(--gold);
    height: fit-content;
    position: absolute;
    bottom: 70px;
    left: 50px;
}
.SeeMore {
    font-size: 2vw;
    margin: 15px;
}
.Links {
    margin: auto;
    /* margin-left: 25px; */
}
.SeeMore, .GitHub, .LinkedIn {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
}
.GHImg, .LIImg {
    width: 50px;
    margin: 25px 15px;
    transition: 0.5s;
}
.GHImg:hover, .LIImg:hover {
    transform: scale(1.4);
}
/* Loader */
#loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px;
    border-radius: 10%;
    border: 8px solid #e5e5e5;
    border-top: 8px solid var(--gold);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  