/* Base */
:root {
    --gold: #DAA520 !important;
}
html { /*doesn't work on Safari*/
    position: relative;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    display: block;
}
.abt-bold {
    font-weight: 600;
}
.gold {
    color: var(--gold);
}
.white {
    color: white !important;
}
.heading, .mega-heading {
    font-size: 4vw; 
    font-family: 'Sail', cursive;
}
.AbsGoldSq {
    position: absolute;
    border: 1px solid var(--gold);
    box-sizing: border-box;
}
.Rhombus {
    transform: rotate(45deg);
}
.PgOne {
    background-image: url('Pics/Backgrounds/HD/PNG/RH3.png');
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
    /*background-origin: padding-box
    background-clip: border-box
    */
    background-attachment: fixed;
    background-color: black;

    text-align: center;
    height: 100vh; width: 100%;
    min-height: 500px;
    display: flex; flex-direction: column;
}
.navbar div {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 15px;  /*! change with media query */
    display: inline-block;
    width: 20%;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.navbar {
    min-width: 600px;
    text-align: center;
    margin-right: 10px;
    padding-top: 20px;
}
.main {
    /*position: relative;*/
    margin: 5% auto 8% auto;

    display: flex; 
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hi {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px; /*! change with media query */
    position: absolute;
    padding-bottom: 250px;
}
.name {
    font-family: 'Sail', cursive;
    font-size: 90px; /*! change with media query */
    position: absolute;
    padding-bottom: 10px; /*50px?*/
    min-width: 600px;
}
#PgTwo {
    /*position: relative;*/
    display: flex; 
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #e5e5e5;
    height: 100%;
    margin: 0;
    padding-bottom: 50px;
}
.main2 {
    height: 300px;
    width: 300px;
    position: relative;
}
.main2 div {
    display: inline-block;
}
.AboutMe {
    width: 100%;
    margin: 100px auto;
    text-align: center;
    position: absolute;
}
.AbtSq1 {
    width: 25px;
    height: 25px;
    z-index: 1;
    top: 190px;
    left: 137px;
}
.AbtSqSm {
    width: 9px;
    height: 9px;
    z-index: 1;
    top: 198px;
    left: 145px;
}
.AbtSq2, .AbtSq3 {
    width: 15px;
    height: 15px;
    z-index: 1;
    top: 195px;
}
.AbtSq2 {
    left: 157px;
}
.AbtSq3 {
    right: 158px;
}
.AbtLine1, .AbtLine2, .AbtLine3, .AbtLine4, .AbtLine5, .AbtLine6 {
    z-index: 1;
    top: 202px;
    border: none;
    border-top: 1px solid var(--gold);
}
.AbtLine1, .AbtLine2 {
    width: 150px;
}
.AbtLine3, .AbtLine4, .AbtLine5, .AbtLine6 {
    width: 115px;
}
.AbtLine1 {
    right: -25px;
}
.AbtLine2 {
    left: -25px;
}
.AbtLine3, .AbtLine5 {
    top: 196px;
}
.AbtLine4, .AbtLine6 {
    top: 208px;
}
.AbtLine3, .AbtLine4 {
    left: -3px;
}
.AbtLine5, .AbtLine6 {
    right: -3px;
}
.Flower {
    position: absolute;
    width: 400px;
    height: 400px;
    right: 0px;
    transform: rotate(180deg);
}
.ME {
    position: relative;
    margin-bottom: 100px;
}
.MeImg {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 80%;
    z-index: 1;
}
.MeImgCircle{
     display: none;
}
.MeBlurb {
    background-color: rgba(0, 0, 0, .75);
    font-family: 'Raleway', sans-serif;
    font-size: 20px; /*! change with media query */
    line-height: 1.75em;
    text-align: center; 

    position: absolute;
    top: 15%;
    left: 8%;
    width: 30%;
    padding: 30px;
    z-index: 2;
}
.HiImZ {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 50px;
}
#PgThree {
    background-color: #f8f8f8;
    height: 100%;
    width: 100%;
    padding: 175px 0px 0px 0px;
}
.main3 {
    display: flex; justify-content: center;
    align-items: center;
    height: 250px;
    padding-top: 50px;
    padding-bottom: 250px;
}
.Experience { 
    z-index: 2;
    display: flex; justify-content: center;
    align-items: center;
}
.ExperiRh1 {
    transform: rotate(33deg);
    width: 225px;
    height: 225px;
    z-index: 1;
}
.ExperiRh2 {
    width: 225px;
    height: 225px;
    z-index: 1;
}
.TransparentBox {
    font-family: 'Raleway', sans-serif;
    display: block;
    margin: 25px auto;
    width: 90%;
    max-width: 1250px;
}
.Square {
    display: block;
    width: 220px;
    transition: 0.5s;
}
.Square:hover {
    transform: scale(1.05);
}
hr.hr {
    border-top: 1px dotted var(--gold);
    width: 50%;
    margin: 15px auto;
}
.ExperiEntry {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 130px;
    display: flex; 
    text-align: center;
    justify-content: center;
    align-items: center;
}
.Logo {
    width: 220px;
}
.LogoImg {
    height: 150px; width: 150px;
    margin: 35px 135px 35px 35px;
}
.LogoImgLong {
    height: 80px;
    width: 175px;
    margin: 75px 140px 65px 23px;
}
.LogoImgMed {
    height: 80px;
    width: 150px;
    margin: 70px 135px 70px 35px;
}
.P {
    margin: 10px 0;
    line-height: 1.7em;
}
.Sq1 {
    width: 205px;
    height: 205px;
    z-index: 1;
}
.Sq2 {
    border: 1px dotted var(--gold);
    margin: 15px 0px 0px 15px;
    width: 205px;
    height: 205px;
    z-index: 1;
}
.TextLSm {
    display: none;
}
.TextL, .TextR {
    height: 100%; 
    width: 60%;
    margin: auto 0 auto 60px;
    text-align: center;
    line-height: 1.5em;
    font-size: 17px;
}
.TextR {
    margin: auto 60px auto 0;
}
.Position, .SubheaderBold {
    font-weight: 600;
    font-size: 25px;
}
.Position {
    margin: 25% auto;
    color: var(--gold);
}
.SubheaderBold {
    color: black;
}
#PgFour {
    background-color: #efefef;
    height: 100%; width: 100%;
}
.main4, .main5 {
    position: relative;
    text-align: center;
    margin: 0 auto;
}
.main4 {
    width: 300px;
    /* padding: 75px 0; */
    padding: 75px 0 0 0;
}
.main5 {
    width: 270px;
    padding: 25px 0 100px 0;
}
.Consq1L, .Consq1R {
    border: 2px solid var(--gold);
    top: 102px;
}
.Consq1L {
    left: 0;
}
.Consq1R {
    left: 275px;
}
.Consq2L, .Consq3L, .Consq2R, .Consq3R {
    border: 2px dotted var(--gold);
    width: 17px;
    height: 17px;
    top: 106px;
}    
.Consq2L {
    left: -14px;
}
.Consq3L {
    left: 22px;
}
.Consq2R {
    left: 261px;
}
.Consq3R {
    left: 297px;
}

input[type=text], input[type=email], select, textarea {
  width: 100% !important;
  padding: 12px !important;
  background: transparent !important;
  border: none !important;
  border-bottom: 1px solid var(--gold) !important;
  outline: none !important;
  font-family: 'Raleway', sans-serif !important;
  font-size: 20px !important;
  font-weight: 200 !important;
  margin: 30px 0 20px 0 !important;
}
textarea {
  border: 1px solid var(--gold) !important;
  height: 150px;
  margin-top: 40px !important;
  position: static;
  resize: none;
}

input[type=submit] {
    transition: background-color .10s linear;
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 30px auto 70px auto;
    background: #181818;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 200px;
    border: none;
    border-width: 1px 1px 3px;
  cursor: pointer;

  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 200;
}
input[type="submit"]:hover {
    background: var(--gold); /*43A8E4*/
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #E5E5E5 inset !important;
}
input:-webkit-autofill {
    -webkit-text-fill-color: black !important;
}
.Form {
    width: 50%;
    min-width: 500px;
    margin: 25px auto 0px auto;
    padding: 30px 75px 5px 75px;
    border-radius: 5px;
    /* background-color: #f9f9f9; */
}
#PgSkills {
    background-color: #f1f1f1;
    padding: 50px 0 100px 0;
}
#skillsDesc {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
    /* padding: 75px 25px; */
    border: 1px dotted var(--gold);
    padding: 30px;
    position: relative;
}
.Skills { 
    z-index: 2;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.SkillsRh1, .SkillsRh2 {
    width: 200px;
    height: 200px;
    z-index: 1;
    top: 65px;
}
.SkillsRh1 {
    left: 28px;
}
.SkillsRh2 {
    right: 28px;
}
.SkillsSq {
    height: 100%;
    width: 100%;
    top: 20px;
    left: -15px;
}
.SkSq1 {
    top: 100px;
    left: 125px;
}
.SkSq2, .SkSq3 {
    top: 105px;
}
.SkSq2 {
    left: 145px;
}
.SkSq3 {
    right: 140px;
}
.SkLine1, .SkLine2 {
    top: 112px;
    width: 100px;
}
.SkLine1 {
    right: -5px;
}
.SkLine2 {
    left: 0;
}
.PgOne, .main2, .ME, .main3, main5, .Bubbles, .Contact, .Student, .C1, .RA, .TextEx, .CSSG, #skillsDesc {
    opacity: 0;
}


@media only screen and (max-width: 1350px) {
    .HiImZ {
        font-size: 40px;
    }
}

@media only screen and (max-width: 1150px) {
    .TextLSm {
        display: block;
    }
    .TextR {
        display: none;
    }
    .heading {
        font-size: 50px;
    }
    .SeeMore {
        font-size: 25px;
    }
    .MeBlurb {
        left: 5%;
        font-size: 16px;
    }
    .MeImg {
        width: 85%;
    }
}

@media only screen and (max-width: 995px) {
    .MeBlurb {
        font-size: 15px;
    }
    .HiImZ {
        font-size: 38px;
    }
    .Flower {
        height: 300px; width: 300px;
    }
}
@media only screen and (max-width: 995px) {
    .MeBlurb {
        top: 10%;
    }
}
@media only screen and (max-width: 850px) {
    .HiImZ {
        font-size: 33px;
    }
    .MeImg {
        width: 95%;
    }
    .MeBlurb {
        font-size: 15px;
        left: 0;
    }
    .TextL {
        font-size: 16px;
    }
}

@media only screen and (max-width: 767px) {
    .abt-bold {
        color: rgb(50,50,50);
    }
    .navbar {
        min-width: 10px;
        margin-right: 0;
    }
    .navbar div {
        width: 16%;
    }
    .name {
        width: 75%;
        min-width: 0px;
    }
    .ME {
        display: flex; 
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 0;
    }
    .MeImg {
        display: none;
    }
    .MeImgCircle {
        position: relative;
        display: block;
        margin: 0 auto;
        z-index: 1;
        width: 300px;
        border-radius: 50%;
    }
    .MeBlurb {
        position: relative;
        width: 80%;
        margin: 25px auto;
        left: auto;
        background-color: #E5E5E5;
        color: black;
        font-size: 20px;
    }
    br.br3 {
        display: block !important;
    }
    .HiImZ {
        font-size: 38px;
    }
    .main3 {
        padding-bottom: 200px;
    }
    .TransparentBox {
        width: 80%;
        padding: 0;
    }
    .TextL, .SubheaderBold, .C1, .Student, .RA, .TextEx, .CSSG {
        display: block; 
    }
    .TextL, .SubheaderBold {
        margin: 0;
        width: 100%;
    }
    .TextL {
        margin-top: 30px;
    }
    .P br {
        display: none;
    }
    .Logo {
        text-align: center;
        display: flex; 
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 515px) {
    .Flower {
        height: 200px; width: 200px;
    }
    .AboutMe {
        margin-top: 20%;
    }
    .MeBlurb {
        margin-top: 25%;
    }
}
@media only screen and (max-width: 460px) {
    .name {
        font-size: 80px;
    }
}
@media only screen and (max-width: 410px) {
    .name {
        font-size: 70px;
    }
}
#footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 200px;
}
.GoldBox {
    background-color: var(--gold);
    height: fit-content;
    position: absolute;
    bottom: 70px;
    left: 50px;
}
.SeeMore {
    font-size: 2vw;
    margin: 15px;
}
.Links {
    margin: auto;
    /* margin-left: 25px; */
}
.SeeMore, .GitHub, .LinkedIn {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
}
.GHImg, .LIImg {
    width: 50px;
    margin: 25px 15px;
    transition: 0.5s;
}
.GHImg:hover, .LIImg:hover {
    transform: scale(1.4);
}
/* Loader */
#loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px;
    border-radius: 10%;
    border: 8px solid #e5e5e5;
    border-top: 8px solid var(--gold);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
/* Bubbles */
.highcharts-credits {
    display: none;
}
.highcharts-figure, .highcharts-data-table table {
    margin: 1em auto;
}
.highcharts-data-table table {
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table tr:hover {
    background: gray;
}
