html { /*doesn't work on Safari*/
  scroll-behavior: smooth;
}
body {
    background-color: black;
    margin: 0;
    display: block;
}
.abt-bold {
    font-weight: 600;
}
.Contact, .Experience, .AboutMe {
    font-size: 4vw; 
}
.PgOne {
    color: white;
    background-image: url('Pics/Backgrounds/HD/PNG/RH3.png');
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
    /*background-origin: padding-box
    background-clip: border-box
    */
    background-attachment: fixed;
    background-color: black;

    text-align: center;
    height: 100vh; width: 100%;
    min-height: 500px;
    display: flex; flex-direction: column;
}
.navbar div {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 15px;  /*! change with media query */
    display: inline-block;
    width: 20%;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;

            /*position: relative;
            resize: both;
            overflow: auto;*/
}
.navbar {
    min-width: 600px;
    text-align: center;
    margin-right: 10px;
    padding-top: 20px;
}
.main {
    /*position: relative;*/
    margin: 5% auto 8% auto;

    display: flex; 
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hi {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px; /*! change with media query */
    position: absolute;
    padding-bottom: 250px;
}
.name {
    font-family: 'Sail', cursive;
    font-size: 90px; /*! change with media query */

    position: absolute;
    padding-bottom: 10px; /*50px?*/
    min-width: 600px;
}
#PgTwo {
    position: relative;
    display: flex; 
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #E5E5E5;
    height: 100%;
    margin: 0;
}
.main2 {
    height: 150px;
    width: 100%;
}
.main25 {
    justify-content: center;
    display: flex;
    min-height: 50vh;
    width: 100%;
    margin-bottom: 20%;
}
.main2 div {
    display: inline-block;
}
.L {
    position: absolute;
    width: 125px;
    height: 125px;
    left: 0px;
}
.R {
    position: absolute;
    width: 125px;
    height: 125px;
    right: 0px;
}
.PgTwoImg {
    display: none !important;
}
.PgTwoImg2 {
    position: relative;
    height: 325px;
    width: 325px;
    display: inline-block;
    margin-right: 175px;
}
.CircleGold { /*250, 287, 263, 230*/
    position: absolute;
    z-index:1;
    width: 380px;
    height: 380px;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border-radius: 50%;
    border: 2px solid #DAA520;
    box-sizing: border-box;
}
.CircleBlack { 
    position: absolute;
    z-index:1;
    width: 363px;
    height: 363px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50%;
    border: 1px solid black;
    box-sizing: border-box;
}
.SquareAbt {
    position: absolute;
    width: 320px;
    height: 320px;
    z-index:2;
    
    top: 0%;
    left: 0%;

    border: 2px solid #DAA520;
    box-sizing: border-box;
    transform: rotate(-45deg);
}
.MeImg {
    position: absolute;
    width: 350px;
    border-radius: 50%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.About {
    display: inline-block;
    width: 40%;
}
.AboutMe {
    font-family: 'Sail', cursive;
    margin-bottom: 175px;
    text-align: center;
}
.MeBlurb {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.75em;
    text-align: center;
    /* width: 50%; */
    /* margin: 50px auto 125px auto; */
}
.HiImZ {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 30px;
}
.Z {
    color: #DAA520;
}
#PgThree {
    background-color: #f2f2f2;
    height: 100%;
    width: 100%;
}
.main3 {
    display: flex; justify-content: center;
    align-items: center;
    height: 250px;
    padding-top: 75px;
    padding-bottom: 100px;
}
.Experience {
    font-family: 'Sail', cursive;    
    z-index: 2;
    display: flex; justify-content: center;
    align-items: center;
}
.Rh1 {
    position: absolute;
    border: 1px solid #DAA520;
    box-sizing: border-box;
    transform: rotate(33deg);
    width: 225px;
    height: 225px;
    z-index: 1;
}
.Rh2 {
    position: absolute;
    border: 1px solid #DAA520;
    box-sizing: border-box;
    transform: rotate(45deg);
    width: 225px;
    height: 225px;
    z-index: 1;
}
.TransparentBox {
    z-index: -1;
    font-family: 'Raleway', sans-serif;
    margin: 50px auto;
    padding: 100px 50px;
    display: block;
}
.Square {
    display: block;
}
.HCville, .Student, .TA {
    height: 100%; width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
    display: flex; 
    text-align: center;
    justify-content: center;
    align-items: center;
}
.Logo {
    height: 260px; width: 255px;
}
.Cap1 {
    height: 75px;
    width: 140px;
    margin: 45px 140px 35px 15px;
}
.LogoImg {
    height: 100px; width: 100px;
    margin: 35px 135px 35px 35px;
}
.LogoV {
    height: 75px; width: 110px;
    margin: 45px 135px 45px 30px;
}
.P {
    width: 180px;
    margin: 20px 0;
}
.Sq1 {
    position: absolute;
    border: 1px solid #DAA520;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    z-index: 1;
}
.Sq2 {
    position: absolute;
    border: 1px solid #DAA520;
    box-sizing: border-box;
    margin: 15px 0px 0px 15px;
    width: 150px;
    height: 150px;
    z-index: 1;
}
.Text {
    padding-bottom: 7%;
    height: 100%; width: 50%;
    margin: 0 20px;
    text-align: center;
    line-height: 1.25em;
    font-size: 20px;
}
.Position{
    font-weight: 600;
    font-size: 20px;
    margin: 25% auto;
}
.CompandTime {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}

#PgFour {
    background-color: #E5E5E5;
    height: 95vh; 
    width: 100%;
    position: relative;
}
/* .main4 {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} */
.Contact {
    font-family: 'Sail', cursive;
    text-align: center;
    width: 20%;
    min-width: 140px;
    min-height: 65px;
    margin: 5% auto;
    /* margin: auto; */
    padding: 50px 0;
}
input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  
  /*border-radius: 4px;*/
  /*box-sizing: border-box;*/
  background: transparent;
  border: none;
  border-bottom: 1px solid #DAA520;
  outline: none;
  font-family: 'Raleway', sans-serif;
  font-size: 20px; /*! change with media query */
  font-weight: 200;

  margin: 30px 0 20px 0;
/*  resize: vertical;*/
}
textarea {
  border: 1px solid #DAA520;
  height: 150px;
  margin-top: 40px;
  position: static;
  resize: none;
}

input[type=submit] {
    transition: background-color .10s linear;
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 30px auto 70px auto;
    background: #181818; /*73ABFF*/
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 40%;
    border: none;
    border-width: 1px 1px 3px;
  cursor: pointer;

  font-family: 'Raleway', sans-serif;
  font-size: 20px; /*! change with media query */
  font-weight: 200;
}
input[type="submit"]:hover {
    background: #DAA520; /*43A8E4*/
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #E5E5E5 inset !important;
}
input:-webkit-autofill {
    -webkit-text-fill-color: black !important;
}
.Form {
  /*border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;*/

  width: 500px;
  margin: 0 auto;
}

.PgOne, .main2, .ME, .main3, .Student, .HCville, .TA, .Contact {
    opacity: 0;
}


@media only screen and (max-width: 1350px) {
    .HiImZ {
        font-size: 40px;
    }
}

@media only screen and (max-width: 1150px) {
    .PgTwoImg2  {
        display: none
    }
    .PgTwoImg {
        display: inline-block !important;
        position: relative;
        height: 325px; width: 325px;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .main2 {
        height: 350px;
        margin-bottom: 50px;
    }
    .CircleGold { /*250, 287, 263, 230*/
        position: absolute;
        z-index:1;
        width: 280px;
        height: 280px;
        
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        border-radius: 50%;
        border: 2px solid #DAA520;
        box-sizing: border-box;
    }
    .CircleBlack { 
        position: absolute;
        z-index:1;
        width: 263px;
        height: 263px;
    
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        border-radius: 50%;
        border: 1px solid black;
        box-sizing: border-box;
    }
    .SquareAbt {
        position: absolute;
        width: 230px;
        height: 230px;
        z-index:2;
        
        top: 15%;
        left: 15%;
    
        border: 2px solid #DAA520;
        box-sizing: border-box;
        transform: rotate(-45deg);
    }
    .MeImg {
        position: absolute;
        width: 250px;
        border-radius: 50%;
    
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .About {
        width: 100%;
    }
    .AboutMe {
        font-size: 45px;
        font-family: 'Sail', cursive;
        width: 100%;
        margin: 10% auto 3% auto;
        text-align: center;
    }
    .MeBlurb {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        font-weight: 200;
        line-height: 1.75em;
        text-align: center;
        width: 70%;
        margin: 50px auto 125px auto;
    }
}

@media only screen and (max-width: 995px) {
    .HiImZ {
        font-size: 38px;
    }
    .Text {
        font-size: 18px;
    }
    .Flower {
        height: 300px; width: 300px;
    }
    .AboutMe {
        margin: 10% auto 5% auto;
    }
}
@media only screen and (max-width: 995px) {
    .MeBlurb {
        top: 10%;
    }
}
@media only screen and (max-width: 850px) {
    .HiImZ {
        font-size: 33px;
    }
    .MeBlurb {
        font-size: 15px;
        left: 0;
    }
    .Text {
        font-size: 16px;
    }
}

@media only screen and (max-width: 767px) {
    .TransparentBox {
        width: 55%;
    }
    .navbar {
        min-width: 10px;
        margin-right: 0;
    }
    .navbar div {
        width: 16%;
    }
    .name {
        width: 75%;
        min-width: 0px;
    }
    .AboutMe {
        margin: 15% auto 5% auto;
    }
    .ME {
        display: flex; 
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 0;
    }
    .MeImgCircle {
        position: relative;
        display: block;
        margin: 0 auto;
        z-index: 1;
        width: 300px;
        border-radius: 50%;
        margin-top: 6%;
    }
    .abt-bold {
        font-weight: 300;
    }
    .MeBlurb {
        position: relative;
        width: 80%;
        margin: 15% auto 30% auto;
        left: auto;
        background-color: #E5E5E5;
        color: black;
        font-size: 20px;
    }
    .HiImZ {
        font-size: 38px;
    }
    .HCville, .Student, .TA {
        display: block; 
        margin: 10% auto;
    }
    .Text, .Position, .CompandTime {
        text-align: center;
        display: flex; 
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 70%;
    }
    .Square {
        width: 165px;
        margin: 0 0;
       /* width: 100%;
        margin: 0 auto;*/
    }
    .Logo {
        width: 100%;
        text-align: center;
        display: flex; 
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .Form {
        width: 400px
    }
}

@media only screen and (max-width: 515px) {
    .Flower {
        height: 200px; width: 200px;
    }
    .AboutMe {
        margin-top: 20%;
    }
    .MeBlurb {
        margin-top: 25%;
    }
    .Form {
        width: 280px;
    }
}
@media only screen and (max-width: 460px) {
    .name {
        font-size: 80px;
    }
}
@media only screen and (max-width: 410px) {
    .name {
        font-size: 70px;
    }
}

/* Loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 15%;
    border: 10px solid #e5e5e5;
    border-top: 10px solid #DAA520;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  

  

/* .PgTwoImg {
    position: relative;
    height: 465px; width: 465px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.CircleGold {
   
    z-index:1;
    width: 390px;
    height: 390px;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border-radius: 50%;
    border: 2px solid #DAA520;
    box-sizing: border-box;
}
.CircleBlack { 
    position: absolute;
    z-index:1;
    width: 365px;
    height: 365px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50%;
    border: 1px solid black;
    box-sizing: border-box;
}
.Square {
    position: absolute;
    width: 325px;
    height: 325px;
    z-index:2;
    
    top: 15%;
    left: 15%;

    border: 2px solid #DAA520;
    box-sizing: border-box;
    transform: rotate(-45deg);
}
.MeImg {
    position: absolute;
    width: 350px;
    border-radius: 50%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.AboutMe {
    font-size: 45px; 
    font-family: 'Sail', cursive;
    width: 100%;
    margin: 10% auto 3% auto;
    text-align: center;
}
.MeBlurb {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.75em;
    text-align: center;
    width: 50%;
    margin: 50px auto 125px auto;
}
 */




/*.PgTwoImg {
    height: 325px; width: 325px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.CircleGold { /*250, 287, 263, 230*/
    /*position: absolute;
    z-index:1;
    width: 280px;
    height: 280px;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border-radius: 50%;
    border: 2px solid #DAA520;
    box-sizing: border-box;
}
.CircleBlack { 
    position: absolute;
    z-index:1;
    width: 263px;
    height: 263px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50%;
    border: 1px solid black;
    box-sizing: border-box;
}
.Square {
    position: absolute;
    width: 230px;
    height: 230px;
    z-index:2;
    
    top: 15%;
    left: 15%;

    border: 2px solid #DAA520;
    box-sizing: border-box;
    transform: rotate(-45deg);
}
*/